/* Estilo para o corpo da página */
body {
  padding: 20px;
}

/* Estilo para o cabeçalho h1 */
h1 {
  color: royalblue;
}

/* Estilo para indicar a data e hora da última atualização */
#ultact {
  font-style: italic;
}

/* Estilo para um serviço em execução */
.encendido {
  color: forestgreen;
  font-weight: bold;
}

/* Estilo para un servicio que se encuentra detenido */
.detenido {
  color: firebrick;
  font-weight: bold;
}
